################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WorldArtAnimeHighlight/bin
/WorldArtAnimeHighlight/node_modules
/WorldArtAnimeHighlight/obj/
