.WorldArtAnimeHighlighter-wantSee
{
    color: #31708f !important;
    background-color: #d9edf7 !important;
}

.WorldArtAnimeHighlighter-see
{
    color: #8a6d3b !important;
    background-color: #fcf8e3 !important;
}

.WorldArtAnimeHighlighter-seen
{
    color: #3c763d !important;
    background-color: #dff0d8 !important;
}

.WorldArtAnimeHighlighter-dropped
{
    color: #a94442 !important;
    background-color: #f2dede !important;
}

.WorldArtAnimeHighlighter-inCollection
{
    color: #6f5499 !important;
    background-color: #cdbfe3 !important;
}
